<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        * {
			-webkit-tap-highlight-color: transparent;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		html,
		body,
		#root {
			height: 100%;
		}

		/*滚动条整体样式*/
		::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}

		/*滚动条里面小方块*/
		::-webkit-scrollbar-thumb {
			background: var(--background-color);
		}

		::-webkit-scrollbar-corner {
			background: var(--border-color);
		}

		/*滚动条里面轨道*/
		::-webkit-scrollbar-track {
		}
    </style>
</head>

<body>
    <div id="root"></div>

    <% if (htmlWebpackPlugin.options.env === 'production') { %>
    <script src="https://unpkg.com/react@<%= htmlWebpackPlugin.options.reactVersion %>/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@<%= htmlWebpackPlugin.options.reactVersion %>/umd/react-dom.production.min.js"></script>
	<% } %>
</body>
</html>
